numpy==1.26.4
scipy==1.13.1
opencv-python==4.10.0.84
ultralytics==8.3.5
supervision==0.21.0
boxmot==0.14.3
filterpy==1.4.5
mediapipe==0.10.14
librosa==0.10.2.post1
soundfile==0.12.1
ffmpeg-python==0.2.0
scikit-learn==1.5.1
pandas==2.2.2
matplotlib==3.8.4
streamlit==1.37.1
tqdm==4.66.5
pyyaml==6.0.2